body
{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.puzzle
{
    background-color: black;
    border-style: groove;
    border-color: yellow;
    border-width: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}
.cell,.emptycell
{
    width: 60px;
    height: 60px;
    margin: 10px;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    padding: 10px;
    border: 1px solid;
}
.cell:hover,.emptycell:hover
{
    cursor: pointer;
    background-color: blue;
}
.button
{
    border: 5px solid black;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    font-size: 20px;
    background-color: brown;
    color: gold;
}
